* {
    padding: 0;
    margin: 0;
  }
  a {
    all: unset;
  }
  html,
  body {
    height: 100%;
    width: 100%;
  }
  ul {
    list-style-type: none;
  }
  body {
    max-width: 1024px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    overflow: 20px;
    padding:  20px;
    background-color: rgb(54, 170, 205);
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
  }
  .logo {
    width: 10%;
  }
  .navbar {
    font-size: 28px;
  }
  .navbar__list {
    display: flex;
  }
  
  .navbar__item:hover {
    color: rgb(0, 0, 0);
    cursor: pointer;
    text-decoration: underline;
  }
  
  .navbar__item:not(:last-child) {
    margin-right: 20px;
  }
  
  .left-side {
    max-width: 300px;
  }
  .image-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 300px;
  }
  
  .call-button {
    all: unset;
    background-color: rgba(118, 188, 245, 0.827);
    padding: 10px 20px;
    border-radius: 7px;
    color: #000000;
  }
  
  .call-button:hover {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
  }
  
  .main {
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    width: 100%;
  }
  @keyframes scroll {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }
  
  .ticker {
    overflow: hidden;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    min-height: 40px;
  }
  
  .ticker span {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    padding-left: 100%;
    animation: scroll 15s infinite linear;
  }
  
  @media screen and (max-width: 600px) {
    .main {
      flex-direction: column;
    }
    .left-side {
      max-width: 80%;
      margin-bottom: 10px;
      text-align: center;
    }
    .navbar__item {
      margin: 0 !important;
    }
    .navbar__list {
      flex-wrap: wrap;
      max-width: 200px;
      justify-content: space-evenly;
      gap: 5px;
    }
  }
  
  @media screen and (max-width: 480px) {
    h1 {
      font-size: 20px;
    }
    .logo {
      display: none;
    }
    .call-button {
      padding: 5px 10px;
    }
    .image-list {
      flex-direction: column;
    }
  }

  .image {
    width:80%;
  }